.backgroundColor {
    -fx-background-color: rgb(251,156,240);
    -fx-background-color: linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 18;
}

.text-field:hover {
    -fx-cursor: hand;
}

.button{
    -fx-background-color: linear-gradient(to left bottom, rgba(250,172,63,255) 0%, rgba(253,72,179,255) 100);
    -fx-text-fill: white;
    -fx-opacity: 100;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 24;
}

.button:pressed{
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:focused {
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-color: #CDD1D6;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}