.backgroundColor {
    -fx-background-color: rgb(251,156,240);
    -fx-background-color: linear-gradient( rgba(251,156,240,0.6) 0%, rgba(122,134,255,0.6) 100);
}

.button{
    -fx-background-color: #8d90e4;
    -fx-text-fill: white;
    -fx-opacity: 100;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
}

.button:pressed{
    -fx-background-color: #474872;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:focused {
    -fx-background-color: #474872;
    -fx-border-color: #CDD1D6;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #474872;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: black;
}

.text-field:hover {
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: linear-gradient(rgba(251, 156, 240, 0.6) 0%, rgba(122, 134, 255, 0.6) 100);
    -fx-background-radius: 30;
    -fx-fill: white;
}


.table-row-cell {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(rgba(251, 156, 240, 0.6) 0%, rgba(122, 134, 255, 0.6) 100);
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
}

.table-view .column-header, table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparant;
}

.table-row-cell{

    -fx-text-fill: whitesmoke;
}

.table-column {

    -fx-text-fill: whitesmoke;
}
