.backgroundColor {
    -fx-background-color: rgb(251,156,240);
    -fx-background-color: linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);

}

.table-view {
    -fx-background-color: linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);
    -fx-background-radius: 10;
    -fx-fill: white;
}


.table-view .column-header-background {
    -fx-background-color: linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);
    -fx-background-radius: 10;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-font-size: 14;
    -fx-font-family: "Britannic Bold";
}

.table-view .column-header, table-view .filler{
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 14;
    -fx-font-family: "Britannic Bold";
    -fx-text-alignment: center;
}
.table-row-cell.table-row-cell:filled:focused:selected {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 10, 0, 0, 0);
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-row-cell:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 10, 0, 0, 0);
}

.table-row-cell:odd{
    -fx-background-color: transparent;
}


.table-row-cell:even {
    -fx-background-color: transparent;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);
}




.table-column {

    -fx-text-fill: whitesmoke;
}


.text-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

.text-field:hover {
    -fx-cursor: hand;
}

.button{
    -fx-background-color: linear-gradient(to left bottom, rgba(250,172,63,255) 0%, rgba(253,72,179,255) 100);
    -fx-text-fill: white;
    -fx-opacity: 100;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
}

.label {
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:focused {
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-color: #CDD1D6;
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: linear-gradient(to left bottom, rgba(238,143,11,255) 0%, rgba(226,11,136,255) 100);
    -fx-border-radius: 90;
    -fx-background-radius: 90;
    -fx-cursor: hand;
}