.backgroundColor {
    -fx-background-color: rgb(251,156,240);
    -fx-background-color: linear-gradient(rgba(250,172,63,0.6) 0%, rgba(253,72,179,0.6) 100);

}
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background-color: #8d90e4;
}